@font-face {
    font-family: 'Pixel';
    src: url('fonts/PixelifySans-VariableFont_wght.ttf') format('TrueType'); /* Format WOFF 1.0 */
    /* Ajoutez d'autres formats de police si nécessaire */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Pixel", Arial, sans-serif;
    color: #ffffff;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    user-select: none;
}

.countdown-container {
    text-align: center;
}

h1 {
    font-family: "Pixel", Arial, sans-serif;
    
    margin-bottom: 20px;
}

.countdown {
    margin: 20px 0;
}

.countdown-item {
    font-size: 2em;
    margin: 10px 0;
}
