@font-face {
    font-family: 'Pixel';
    src: url('fonts/PixelifySans-VariableFont_wght.ttf') format('TrueType');
}

body {
    font-family: "Pixel", Arial, sans-serif;
    color: #7c7c7c;
    font-size: 5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    user-select: none;
}